.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: calc(100vh - 100px);
    padding: 0 16px;
    text-align: center;
}

.title {
    margin: 0;
    font-size: 48px;
    line-height: 1.2;
    color: #ffffff;
}

.description {
    margin: 0;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin-top: 24px;
}

.buttonWrapper * {
    width: 100%;
}